{% extends 'base.html' %}


{% block content %}
    <div class="container mt-5 mb-5">
        {% if request.user == post_author %}
        <div class="row text-center">
            <i>Are you sure you want to delete this post: "<b>{{ object.body }}</b>"?</i>
            <form action="" method="post">
                {% csrf_token %}
                <br>
                <button type="submit" class="btn btn-danger mt-2">Delete</button>
            </form>
        </div>

        {% else %}
        <div class="row text-center">
            <h1>You have no permission to do that.</h1>
        </div>
        {% endif %}
        <hr>
        <a class="btn btn-info" href="{% url 'post:post-details' post_slug %}">Back</a>

    </div>
{% endblock content %}