{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
            <div class="container">
                <div class="post-single">
                    <div class="post-thumbnail"><img src="{{ post.picture.url }}" alt="..." class="img-fluid post-details-picture"></div>
                    <div class="post-details">

                        <h1>{{ post.body }}<a href="#"><i
                                class="fa fa-bookmark-o"></i></a></h1>
                        <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                            <a href="{% url 'profile:profile-details' post.author.slug %}" class="author d-flex align-items-center flex-wrap">
                            <div class="avatar"><img src="{{ post.author.user.profile.avatar.url }}" alt="..." class="img-fluid"></div>
                            <div class="title"><span>{{ post.author.user }}</span></div>
                        </a>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="date"><i class="icon-clock"></i>{{ post.created|timesince }}</div>

                                <div class="comments meta-last"><i class="icon-comment"></i>{{ post.get_comment_number }}</div>
                            </div>
                        </div>
                        <div class="post-body">
                            {% if request.user == post.author.user %}
                                <a href="{% url 'post:post-delete' post.slug %}" class="btn btn-outline-danger ml-3">Delete</a>
                                <a href="{% url 'post:post-update' post.slug %}" class="btn btn-outline-warning ml-3">Update</a>
                            {% endif %}

                        </div>
                        <div class="post-tags">
                            {% for tag in post.get_tags %}
                                <a href="{% url 'post:tag-posts' tag.name %}" class="tag">{{ tag }}</a>
                            {% endfor %}
                        </div>

                        <div class="post-comments">
                            <header>
                                <h3 class="h6">Post Comments<span class="no-of-comments">{{ post.get_comment_number }}</span></h3>
                            </header>

                            {% for comment in post.comments %}
                                <div class="comment">
                                    <div class="comment-header d-flex justify-content-between">
                                        <div class="user d-flex align-items-center">
                                            <div class="image">
                                                <img src="{{ comment.author.avatar.url }}" alt="..."
                                                                    class="img-fluid rounded-circle img-responsive"></div>
                                            <div class="title">

                                                <strong>
                                                    {{ comment.author.user.username }}
                                                    {% if comment.author.user == request.user %}
                                                        <a href="{% url 'post:comment-delete' comment.pk %}" class="btn btn-outline-danger btn-sm ml-3">Delete</a>
                                                        <a href="{% url 'post:comment-update' comment.pk %}" class="btn btn-outline-warning btn-sm ml-3">Update</a>
                                                    {% endif %}
                                                </strong>
                                                <span class="date">{{ comment.created|timesince }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-body">
                                        <p>{{ comment.body }}</p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        {% if user.is_authenticated %}
                            <div class="add-comment">
                                <header>
                                    <h3 class="h6">Leave a reply</h3>
                                </header>
                                <form action="#" class="commenting-form" method="post">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                                {% csrf_token %}
                                                {{ form.body }}

                                               <div class="form-group col-md-12">
                                                   <button type="submit" class="btn btn-secondary mt-2">Submit Comment</button>
                                               </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
        {% include 'sidebar.html' with common_tags=common_tags latest_posts=latest_posts %}
    </div>
</div>


{% endblock content %}