{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5 mb-5">

        <form action="" class="commenting-form" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="form-group col-md-12">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary mt-2">Update</button>
                    </div>
                </div>
            </div>
        </form>


        <hr>

    </div>

{% endblock content %}